<div class="panel panel-default content col-md-offset-1 col-md-6 ">
  <!-- Default panel contents -->
  <div class="panel-heading">My categories</div>
  <div class="panel-body">
    <p>In this section you can edit or delete your categories</p>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
    <th>Name</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor='let category of categories'>
    <td *ngIf='category.Deleted == 0'>{{category.Name}}</td>
    <td *ngIf='category.Deleted == 0'><a (click)='deleteCategory(category)'>Delete</a></td>
  </tr>
  </table>
</div>
