<div class="col-md-offset-2 col-md-4 content">
  <div class="thumbnail">
    <img src="{{image}}">
    <image-upload
    [max]="1"
    [url]="'path/to/image.jpg'"
    [headers]="[
    {header: 'Authorization', value: 'MyToken'}
    ]"
    [buttonCaption]="'Select Images!'"
    [dropBoxMessage]="'Drop your images here!'"
    (onFileUploadFinish)="imageUploaded($event)"
    ></image-upload>
    <br>
    <br>
    <div class="caption">
      <form [formGroup]="createCUForm" class="form" (ngSubmit)="onSubmit(createCUForm.value)" >
          <div class="form-group">
             <label class="center-block" >Email</label>
             <input class="form-control" type="email" formControlName="email">
          </div>
          <div *ngIf="formErrors.email">
            <div *ngFor="let errors of formErrors.email" >
              <p class="alert alert-danger">{{ errors }}<p>
            </div>
          </div>
          <div class="form-group">
             <label class="center-block" >Password</label>
             <input class="form-control" type="password" formControlName="password">
          </div>
          <div *ngIf="formErrors.password">
            <div *ngFor="let errors of formErrors.password" >
              <p class="alert alert-danger">{{ errors }}<p>
            </div>
          </div>
          <div class="form-group">
             <label class="center-block" >Description</label>
             <textarea class="form-control" type="text" formControlName="description"></textarea>
          </div>
          <div *ngIf="formErrors.description">
            <div *ngFor="let errors of formErrors.description" >
              <p class="alert alert-danger">{{ errors }}<p>
              </div>
            </div>
          <button type="submit" class="col-md-offset-5 col-md-2 btn btn-primary"
             [disabled]="!createCUForm.valid">Create</button>
         </form>
    </div>
  </div>
</div>
