<div>
  <!-- <h1>Welcome to NAICOP</h1> -->
  <h2>DESCRIPTION</h2>
  <form [formGroup]="loginForm" class="form-horizontal col-sm-offset-3" (ngSubmit)="onSubmit(loginForm.value)" >
      <div class="form-group">
         <label class="col-sm-2 control-label">Email</label>
         <div class="col-sm-5">
           <input class="form-control" type="email" formControlName="email">
         </div>
         <div *ngIf="formErrors.email">
           <div *ngFor="let errors of formErrors.email" >
             <p class="col-sm-offset-2 col-sm-5 alert alert-danger">{{ errors }}<p>
          </div>
        </div>
    </div>
      <div class="form-group">
         <label class="col-sm-2 control-label" >Password</label>
         <div class="col-sm-5">
           <input class="form-control" type="password" formControlName="password">
         </div>
         <div *ngIf="formErrors.password">
           <div *ngFor="let errors of formErrors.password" >
             <p class="col-sm-offset-2 col-sm-5 alert alert-danger">{{ errors }}<p>
            </div>
          </div>
    </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
          <button type="submit" class="btn btn-primary btn-block"
          [disabled]="!loginForm.valid">Log in</button>
        </div>
      </div>
    </form>
</div>
