<main class="app">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>Welcome to NAICOP</h1>
		</div>
		<div class="col-md-2 col-md-offset-10">
			<a (click)="logout()" *ngIf="clientUserSlide || adminSlide">Log out</a>
		</div>
	</div>
	<div class="row">
		<router-outlet>
			<div class="col-md-4" *ngIf="clientUserSlide">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" (click)="clickProfile()" [ngClass]="{'active': activeProfile}"
					[routerLink]="['/profile']"><a>Edit Profile</a></li>
					<li role="presentation" (click)="clickCreateEvent()" [ngClass]="{'active': activeCreateEvent}"
					[routerLink]="['/createEvent']"><a>Create Event</a></li>
					<li role="presentation" (click)="clickEventList()" [ngClass]="{'active': activeEventList}"
					[routerLink]="['/eventsList']"><a>Delete/Edit Event</a></li>
					<li role="presentation" (click)="clickCreateSC()" [ngClass]="{'active': activeCreateSC}"
					[routerLink]="['/createSecurityClient']"><a>New Securuty Client</a></li>
					<li role="presentation" (click)="clickDeleteSC()" [ngClass]="{'active': activeDeleteSC}"
					[routerLink]="['/deleteSecurityClient']"><a>Delete Securuty Client</a></li>
				</ul>
			</div>
			<div class="col-md-4" *ngIf="adminSlide">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" (click)="clickCreateCU()" [ngClass]="{'active': activeCreateCU}"
					[routerLink]="['/createClientUser']"><a>Create Client User</a></li>
					<li role="presentation" (click)="clickCreateCategory()" [ngClass]="{'active': activeCreateCategory}"
					[routerLink]="['/createCategory']"><a>Create Category</a></li>
					<li role="presentation" (click)="clickListCategory()" [ngClass]="{'active': activeListCategory}"
					[routerLink]="['/categoryList']"><a>Edit/Delete Category</a></li>
					<li role="presentation" (click)="clickCUList()" [ngClass]="{'active': activeListCU}"
					[routerLink]="['/clientUserList']"><a>Delete Client User</a></li>
				</ul>
			</div>
		</router-outlet>
	</div>
</main>
