<div class="panel panel-default content col-md-offset-1 col-md-6 ">
  <!-- Default panel contents -->
  <div class="panel-heading">My events</div>
  <div class="panel-body">
    <p>In this section you can delete your events</p>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
    <th>Title</th>
    <th>Start Date</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor='let event of events'>
    <td *ngIf='event.Deleted == 0'>{{event.Title}}</td>
    <td *ngIf='event.Deleted == 0'>{{event.StartDate}}</td>
    <td *ngIf='event.Deleted == 0'><a (click)="deleteEvent(event)">Delete</a></td>
  </tr>
  </table>
</div>
